.display4{
	-fx-font-family: "Roboto Light";
	-fx-font-size: 112.0;
}
.display3{
	-fx-font-family: "Roboto";
	-fx-font-size: 56.0;
}
.display2{
	-fx-font-family: "Roboto";
	-fx-font-size: 45.0;
}
.display1{
	-fx-font-family: "Roboto";
	-fx-font-size: 34.0;
}
.headline{
	-fx-font-family: "Roboto";
	-fx-font-size: 24.0;
}
.title{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 20.0;
}
.subhead{
	-fx-font-family: "Roboto";
	-fx-font-size: 15.0;
}
.body2{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 13.0;
}
.body1{
	-fx-font-family: "Roboto";
	-fx-font-size: 13.0;
}
.caption{
	-fx-font-family: "Roboto";
	-fx-font-size: 12.0;
}
.button{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 14.0;
}

.display4-mono{
	-fx-font-family: "Roboto Mono Light";
	-fx-font-size: 112.0;
}
.display3-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 56.0;
}
.display2-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 45.0;
}
.display1-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 34.0;
}
.headline-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 24.0;
}
.title-mono{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 20.0;
}
.subhead-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 15.0;
}
.body2-mono{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 13.0;
}
.body1-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 13.0;
}
.caption-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 12.0;
}
.button-mono{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 14.0;
}

.white-text {
    -fx-text-fill: #ffffff;
}

.status-bar {
    -fx-background-color: -primary-color-darkest;
}

.window-title {
 -fx-label-padding: 0 0 0 10px;
}

.floating-action-button {
	-fx-pref-width: 56px;
	-fx-pref-height: 56px;
	-fx-text-fill: white;
}