.location {
    -fx-fill: -blue-grey-300;
    -fx-stroke: -blue-grey-600;
    -fx-stroke-width: 2;
}

.location-label {
    -fx-text-fill: -blue-grey-900;
    -fx-fill: -primary-color-darkest;
    -fx-alignment: center;
    -fx-smooth: true;
}

.nail {
    -fx-fill: -blue-grey-300;
    -fx-stroke: -blue-grey-600;
    -fx-stroke-width: 2;
}
