.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.query {
    -fx-padding: 0 15;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -grey-200;
}

.query .indicator-circle {
    -fx-stroke-width: 2;
}


.animated-option-button {
	-fx-pref-width: 56px;
	-fx-pref-height: 56px;

	-fx-text-fill: white;
}
