.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.query {
    -fx-padding: 0 7 0 8;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -grey-200;
}

.query .indicator-circle {
    -fx-stroke-width: 2;
}
